@font-face {
  font-family: 'Heinemann School';
  font-style: normal;
  src: url('./HeinemannSchool/HeinemannSchool.eot#iefix') format('eot'), url('./HeinemannSchool/HeinemannSchool.woff') format('woff'), url('./HeinemannSchool/HeinemannSchool.ttf') format('truetype');
}

@font-face {
  font-family: 'Heinemann School';
  font-weight: 800;
  src: url('./HeinemannSchool/HeinemannSchool-Black.woff')
}

/* @font-face { */
/*   font-family: 'Heinemann School'; */
/*   font-style: bold; */
/*   src: url('./HeinemannSchool/HeinemannSchool-Bold.woff') */
/* } */

/* @font-face { */
/*   font-family: 'Heinemann School'; */
/*   font-style: italic; */
/*   src: url('./HeinemannSchool/HeinemannSchool-Italic.woff') */
/* } */

body {
  font: 1.7rem 'Heinemann School', Helvetica Neue, Helvetica, Arial, sans serif;
  height: 100%;
  width: 100%;
  background-color: white;
  margin: 0;
}

header {
   position: absolute;
   color: white;
   padding: 0 2rem;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 999;
   height: 85px;
   border-bottom: solid lightgrey 20px;
}

.title {
  font-style: normal;
  color: #244b86;
}

.article-body {
  margin-top: 150px;
  padding: 0 3rem;
}

.article-title {
  font-style: normal;
  color: #244b86;
}

.article-content {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
}

.model-box {
  background-color: #f8fbfd;
  border: solid 3px #244b86;
  padding: 10px;
  border-radius: 5px;
}
